# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# TensorFlow models
*.keras
*.h5

# System files
.DS_Store
